@import "../../theme";

.newsBlockWrapper {
  background-color: white;
}

.newsBlockContent {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: auto;
  width: 100%;
  padding: 1rem;
  max-width: $mainMaxWidth;

  > div {
    padding: 1rem;
  }

  .newsPictureWrapper {
    min-width: 33%;
    padding: 1rem;

    img {
      display: inline-block;
      width: 100%;
    }
  }
}

.newsTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
